<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="learn javascript">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <script src="/bootstrap/js/bootstrap.js"></script>
</head>

<body>
  <header class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Learn JavaScript</a>
      </div>
      <nav class="collapse navbar-collapse" id="bs-navbar">
      </nav>
    </div>
  </header>
  <div id="important" style="color:#cdbfe3; background-color:#6f5499; padding:30px 0; margin:-70px 0 20px 0;">
    <div class="container">
      <h1 style="color:#fff; font-size:60px ;  text-align:center;">Getting started</h1>
    </div>
  </div>
  {% block main %} {% endblock %}
  <footer style="background-color:#ddd; padding: 20px 0;">
    <div class="container">
      <p>This JavaScript course is created by <a target="_blank" href="">@jane</a>.</p>
      <p>Code licensed <a target="_blank" href="">Apache</a>.</p>
    </div>
  </footer>
  {% if result >=1 %}
  <script type="text/javascript">
    alert('{{ tips }}');
  </script>
  {% endif %}

</body>

</html>