{% extends "base.html" %} {% block main %}
<div class="container">
  <div class="row">
    <div class="col-md-6  col-md-push-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> The all contacts</h3>
        </div>
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}